.site-header {
  background-color: $gbo-dark1;
  color: #fff;
  font-family: 'Montserrat';
  a {
    color: #fff;
  }
  .menu-util {
    display: flex;
    justify-content: flex-end;
    .fab, .far {
      background-color: #fff;
      border-radius: 100px;
      color: $gbo-dark1;
      height: 30px;
      margin: 7px;
      padding: 7px;
      text-align: center;
      width: 30px;
    }
  }
}
