.site-header {
  background-color: $gbo-dark1;
  color: #fff;
  font-family: 'Montserrat';
  a {
    color: #fff;
  }
  .menu-util {
    display: flex;
    justify-content: flex-end;
    .fab, .far {
      background-color: #fff;
      border-radius: 100px;
      color: $gbo-dark1;
      height: 30px;
      margin: 7px;
      padding: 7px;
      text-align: center;
      width: 30px;
    }
  }
  .top-bar-left img {
    transition: width 5s;
  }
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    .top-bar-left img {
      width: 100px;
    }
    .menu-util {
      display: none;
    }
    .menu-util-sticky {
      display: block;
    }
  }
  .menu-util-sticky {
    display: none;
  }
}
/* Adjustment for sticky nav placement when logged into WP as an admin. */
.admin-bar .site-header.sticky {
  top: 32px;
}
