.site-header {
  background-color: $gbo-dark1;
  color: #fff;
  font-family: 'Montserrat';
  a {
    color: #fff;
  }
  .menu-util {
    display: flex;
    justify-content: flex-end;
    .fab, .far {
      margin: 10px;
    }
  }
}
